@use "../../sass/abstracts/variables" as *;

.latest {
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;

    @media only screen and ( max-width: 75em) {
        grid-column: 2 / span 1;
    }

    @media only screen and (max-width: 40em) {
        grid-column: 1 / span 1;
    }

    &__header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    &__list {
        overflow-y: scroll;
        max-height: 47rem;

        @media only screen and (max-width: 40em) {
            overflow-y: hidden;
            max-height: fit-content;
        }


        &::-webkit-scrollbar {
          width: 8px;
        }
          
          /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: none;
            border-radius: 10px;
        }
           
          /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $color-scrollbar;
            border-radius: 10px;
        }
          
          /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $color-red;
        }
    }

    &__item {
        margin-bottom: 3rem;
    }

    &__link {
        display: block;
    }

    &__see-all-news {
        display: flex;
        align-items: center;
        height: 5rem;
        width: 100%;
        font-size: 1.4rem;
        line-height: 2.0rem;
        letter-spacing: -0.09625px;
        color: $color-blue;

        img {
            margin-left: 10px;
            transition: translate 0.2s ease-in-out;
        }

        &:hover img {
            translate: 2px;
        }
    }
}